footer.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 50px;
  border-top: 1px solid #E5E5E5;
  color:white;
  background-color: black;
  margin-top: 170px;
}
.style{
  font-size: 12px;
}
#hrt{
  color:red;
}
#name{
  font-size: 25px;
}
