
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
			<h4>Copyright &copy; 2017 <a href="/"> Vanan Cinemas</a></h4>
			</div><!-- end col-sm-2 -->

			<div class="col-sm-3">
				<h4>About Us</h4>
				<p class="style">No matter how awful situation is, you can always Book tickets</p>
			</div><!-- end col-sm-4 -->

			<div class="col-sm-2">
				<h4>Follow Us</h4>
				<ul  class="style">
					<li><a href="https://twitter.com/vananjef?lang=en">Twitter</a></li>
					<li><a href="https://www.facebook.com/vanan.jef">Facebook</a></li>

				</ul>
			</div><!-- end col-sm-2 -->

			<div class="col-sm-4">
				<h4>Coded with <span id="hrt" class="glyphicon glyphicon-heart"></span> By <span id="name"> Vanan</span></h4>
			</div><!-- end col-sm-4 -->
		</div><!-- end row -->
	</div><!-- end container -->
