<div  class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">

        <input type="text" placeholder="Theatre Name" class="form-control" ng-model="theatreCtrl.TheatreName"></input>
      </div>
      <div class="form-group">

        <input type="text" placeholder="Location" class="form-control" ng-model="theatreCtrl.PlaceName"></input>
      </div>
      <div class="form-group">

        <input type="text" placeholder="City" class="form-control" ng-model="theatreCtrl.City"></input></div>
    <div class="form-group">
        <button class="btn btn-success" ng-click="theatreCtrl.AddTheatre()">Submit</button>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Theatre Name</th>
          <th>Location</th>
          <th>City</th>
        </tr>
        <tr ng-repeat="t in theatreCtrl.theatres">
          <td>{{t.TheatreName}}</td>
          <td>{{t.PlaceName}}</td>
          <td>{{t.City}}</td>
          <td><button type="button" class="btn btn-danger glyphicon glyphicon-trash" ng-click="theatreCtrl.RemoveTheatre(t)"</td>
        </tr>
      </thead>
    </table>
  </div>
</div>
</div>
