<div class="container">
  <div class="row">
    <div class="col-md-6">
      <input type="text" placeholder="Movie Title" ng-model="moviesCtrl.Title"/>
      <button style="margin-left:10px;" class="btn btn-success glyphicon glyphicon-search" ng-click="moviesCtrl.SearchMovies(moviesCtrl.Title)"/>
    </div>
    <div style="margin-top:20px;" id="moviefound" class="row" class="col-md-12">
      <div class="col-md-12">
        <table class="table">
          <tr>
            <td>Movie Poster</td>
            <td>Movie Name</td>
            <td>Year</td>
            <td>Genre</td>
            <td>Runtime</td>
          </tr>
          <tr>
            <td><img src="{{moviesCtrl.MovieData.Poster}}" width="70%" /></td>
            <td>{{moviesCtrl.MovieData.Name}}</td>
            <td>{{moviesCtrl.MovieData.Year}}</td>
            <td>{{moviesCtrl.MovieData.Genre}}</td>
            <td>{{moviesCtrl.MovieData.Runtime}}</td>
          </tr>
        </table>
        <button class="btn btn-success" ng-click="moviesCtrl.AddMovie(moviesCtrl.MovieData)">Add movie</button>
      </div>

    </div>
    <br>
    <div class="col-md-12">
      <table class="table">
        <tr>
          <td>Movie Poster</td>
          <td>Movie Name</td>
          <td>Year</td>
          <td>Genre</td>
          <td>Runtime</td>
        </tr>
        <tr ng-repeat="m in moviesCtrl.movie">
          <td><img src="{{m.Poster}}" height="40%" width="70%"/></td>
          <td>{{m.Name}}</td>
          <td>{{m.Year}}</td>
          <td>{{m.Genre}}</td>
          <td>{{m.Runtime}}</td>
          <td><button class="btn btn-danger glyphicon glyphicon-trash" ng-click="moviesCtrl.RemoveMovie(m)"></button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
